.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# virtual env
/invigilator_env/*